# Python
venv/
__pycache__/
*.py[cod]
*.pyo
.env
*.egg-info/
dist/
build/
.pytest_cache/

# Node
node_modules/
.next/
out/
.env.local
.env.production
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user
